@import "variables.scss";

body {
  width: 90%;
  margin: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    width: 250px;
    height: 90px;
  }
}

.search-bar {
  position: relative;
  margin-top: 50px;

  .search-input {
    width: 100%;
    height: 60px;
    background-color: $light-grey;
    border: none;
    border-radius: 5px 5px 0 0;
    padding: 10px;

    &:focus {
      outline: none;
    }
  }

  .search-icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.type-search {
  margin-top: 50px;
  display: flex;
  position: absolute;

  .menu-close {
    display: block;
    position: relative;
  }

  .menu-open {
    display: none;
    position: relative;
    width: 600px;
    border-radius: 5px;
    padding-bottom: 25px;

    .type-search-input {
      width: 98%;

      &:focus {
        width: 98%;
      }
    }
  }

  .type-search-icon {
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .type-search-input {
    position: relative;
    padding: 20px;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 170px;

    &::placeholder {
      color: white;
      font-weight: bold;
      font-size: 15px;
      opacity: 0.8;
    }

    &:focus {
      color: white;
      font-weight: bold;
      font-size: 15px;
      outline: none;
      width: 170px;
    }
  }

  #ingredient,
  #dropdown-ingredient-open {
    background-color: $primary;
  }

  #appliance,
  #dropdown-appliance-open {
    background-color: $secondary;
  }

  #ustensil,
  #dropdown-ustensil-open {
    background-color: $tertiary;
  }

  #dropdown-ingredient,
  #dropdown-appliance,
  #dropdown-ingredient-open,
  #dropdown-appliance-open {
    margin-right: 40px;
  }

  .dropdown-content {
    max-height: 400px;
    padding-left: 15px;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: white;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: $dark-grey;
      border-radius: 20px;
    }
  }

  .tag {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
  }
}

#selection {
  margin-top: 50px;
  display: flex;

  .tag {
    color: white;
    padding: 10px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .ingredient-selected-tag {
    background-color: $primary;
  }

  .appliance-selected-tag {
    background-color: $secondary;
  }

  .ustensil-selected-tag {
    background-color: $tertiary;
  }
}

#recipes {
  margin-top: 200px;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;

  ul {
    list-style-type: none;
    padding-left: unset;
    margin: unset;
  }
}

.card {
  width: 100%;
  background-color: $light-grey;
  border-radius: 5px;

  .card-image {
    width: 100%;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

    .card-title {
      font-size: 26px;
      font-weight: 400;
    }

    .card-time,
    .ingr-name {
      font-weight: 700;
    }
  }

  .card-recipe {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: flex-start;
    height: 170px;

    .card-ingredients,
    .card-description {
      width: 48%;
      font-size: 17px;
    }

    .ingr-name {
      font-weight: 700;
    }
  }
}
